ConsoleApp1/Connected Services/ReservationService/ReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FetchAvailableCarsForResv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startingDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchAvailableCarsForResvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchAvailableCarsForResvResult" type="tns:ResponseOfCar" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseOfCar">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfCar" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCar">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Car">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CarID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CarModel" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiredDriverLicenceExp" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiredAge" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="KmInfo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasAirbag" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="BaggageCapacity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DailyCost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="isActive" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Brand" type="tns:Brand" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="tns:Company" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Brand">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BrandID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Company">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CarCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Score" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchAllById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchAllByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchAllByIdResult" type="tns:ResponseOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseOfReservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="isSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfReservation" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReservation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Reservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReservationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Car" type="tns:Car" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="tns:Company" />
          <s:element minOccurs="1" maxOccurs="1" name="StartingDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservationMadeAt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReservationState" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Person" type="tns:Person" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:Role" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PersonID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DriverLicenseDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthday" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="tns:Company" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MakeReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CarID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startingDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeReservationResult" type="tns:ResponseOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReservationID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelReservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelReservationResult" type="tns:ResponseOfReservation" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchAvailableCarsForResvSoapIn">
    <wsdl:part name="parameters" element="tns:FetchAvailableCarsForResv" />
  </wsdl:message>
  <wsdl:message name="FetchAvailableCarsForResvSoapOut">
    <wsdl:part name="parameters" element="tns:FetchAvailableCarsForResvResponse" />
  </wsdl:message>
  <wsdl:message name="FetchAllByIdSoapIn">
    <wsdl:part name="parameters" element="tns:FetchAllById" />
  </wsdl:message>
  <wsdl:message name="FetchAllByIdSoapOut">
    <wsdl:part name="parameters" element="tns:FetchAllByIdResponse" />
  </wsdl:message>
  <wsdl:message name="MakeReservationSoapIn">
    <wsdl:part name="parameters" element="tns:MakeReservation" />
  </wsdl:message>
  <wsdl:message name="MakeReservationSoapOut">
    <wsdl:part name="parameters" element="tns:MakeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="CancelReservationSoapIn">
    <wsdl:part name="parameters" element="tns:CancelReservation" />
  </wsdl:message>
  <wsdl:message name="CancelReservationSoapOut">
    <wsdl:part name="parameters" element="tns:CancelReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="ReservationServiceSoap">
    <wsdl:operation name="FetchAvailableCarsForResv">
      <wsdl:input message="tns:FetchAvailableCarsForResvSoapIn" />
      <wsdl:output message="tns:FetchAvailableCarsForResvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchAllById">
      <wsdl:input message="tns:FetchAllByIdSoapIn" />
      <wsdl:output message="tns:FetchAllByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <wsdl:input message="tns:MakeReservationSoapIn" />
      <wsdl:output message="tns:MakeReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <wsdl:input message="tns:CancelReservationSoapIn" />
      <wsdl:output message="tns:CancelReservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReservationServiceSoap" type="tns:ReservationServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchAvailableCarsForResv">
      <soap:operation soapAction="http://tempuri.org/FetchAvailableCarsForResv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllById">
      <soap:operation soapAction="http://tempuri.org/FetchAllById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap:operation soapAction="http://tempuri.org/MakeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <soap:operation soapAction="http://tempuri.org/CancelReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReservationServiceSoap12" type="tns:ReservationServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchAvailableCarsForResv">
      <soap12:operation soapAction="http://tempuri.org/FetchAvailableCarsForResv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchAllById">
      <soap12:operation soapAction="http://tempuri.org/FetchAllById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeReservation">
      <soap12:operation soapAction="http://tempuri.org/MakeReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <soap12:operation soapAction="http://tempuri.org/CancelReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationService">
    <wsdl:port name="ReservationServiceSoap" binding="tns:ReservationServiceSoap">
      <soap:address location="http://localhost:55945/ReservationService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReservationServiceSoap12" binding="tns:ReservationServiceSoap12">
      <soap12:address location="http://localhost:55945/ReservationService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>